@using EventStorm.Web.Helpers;

<div>
	Welcome
	@User.GetName()
	@User.GetEmail()
	@Html.ActionLink("Logout", "Logout", "Home")
	@Html.ActionLink("Create meeting", "CreateMeeting", "Meeting")
	@Html.ActionLink("Meetings", "Index", "Meeting")


	<ul>
		@foreach (var attendance in ViewBag.Attendances)
		{
			<li>@attendance.MeetingName - @attendance.Status</li>

			@Html.ActionLink("Meeting", "Meeting", "Meeting", new {meetingId = attendance.MeetingId})
		}
	</ul>
</div>

